# ignore all markdown files who's name starts with scratch
scratch*.md

# ignore any thing with credentials in the name
*Credentials*
*credentials*

# ignore terraform related files
.terraform*
*.tfstate
*.tfstate.backup

# ignore mac related special files
.DS_Store

# ignore pycharm stuff
.idea
